<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
     {{>header}}
    <!--for rendering partial view we use -->
    {{>footer}}
</body>
</html>