 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    {{>header}}
    <!--for using helper method , and pass argument we use space-->
    <!--for rendering partial view we use -->
    {{>footer}}
</body>
</html>