<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    <!--for rendering partial view we use -->
     {{>header}}
    <p>Project text go here.</p>
    {{>footer}}
</body>
</html>